/* Reset everything */
*,
*::before,
*::after,
*::placeholder {
  margin: 0;
  padding: 0;
  outline: 0;
  opacity: 1;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  list-style: none;
  line-height: 150%;
  text-decoration: none;
  text-align: inherit;
  border-collapse: collapse;
}

*::-moz-focus-outer,
*::-moz-focus-inner {
  border: 0;
}

/* Design system */
html {
  /* Margins are 12px, text lines are 24px, buttons/inputs are 36px */
  --size-1: 6px;
  --size-2: 12px;
  --size-3: 18px;
  --size-4: 24px;
  --size-5: 30px;
  --size-6: 36px;
  --size-7: 42px;
  --size-8: 48px;

  --font-normal: 16px;
  --font-large: 20px;
  --font-huge: 24px;
  --font-gargantuan: 32px;
  --font-colossal: 48px;

  /* Munsell: Chroma 0 */
  --grey-9: rgb(227, 227, 227);
  --grey-8: rgb(200, 200, 200);
  --grey-7: rgb(173, 173, 173);
  --grey-6: rgb(147, 147, 147);
  --grey-5: rgb(121, 121, 121);
  --grey-4: rgb(96, 96, 96);
  --grey-3: rgb(72, 72, 72);
  --grey-2: rgb(49, 49, 49);
  --grey-1: rgb(28, 28, 28);

  /* Munsell: Chroma 8 */
  --red-7: rgb(237, 149, 152); /* 2.5R */
  --yellow-7: rgb(209, 168, 72); /* 2.5Y */
  --green-7: rgb(98, 193, 131); /* 2.5G */
  --blue-7: rgb(119, 179, 228); /* 2.5PB */
}

/* Basics */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--font-normal);
  font-weight: 400;

  color: var(--grey-9);
  text-shadow: 0 0 2px var(--grey-1);

  background: var(--grey-1);
}
