.nyx.button {
  padding: calc(var(--size-1) - 2px) calc(var(--size-3) - 2px);
  border: 2px solid var(--grey-4);
  background: var(--grey-1);
  border-radius: var(--size-1);
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid var(--grey-6);
  }

  &:active {
    background: var(--grey-2);
  }
}
