.nyx.progressbar {
  border-radius: var(--size-1);
  border: 2px solid var(--grey-6);
  background: var(--grey-2);
  height: var(--size-6);
  padding: var(--size-1);
}
.nyx.progressbar .fill {
  background: var(--grey-6);
  height: 100%;
}
