.nyx.textbox {
  label {
    display: block;
    margin-bottom: var(--size-1);
  }

  input {
    display: block;
    width: 100%;
    padding: calc(var(--size-1) - 2px) calc(var(--size-2) - 2px);
    border-radius: var(--size-1);
    border: 2px solid var(--grey-4);
    background: var(--grey-2);

    &:hover,
    &:focus {
      border: 2px solid var(--grey-6);
    }

    &::placeholder {
      color: var(--grey-6);
    }
  }
}
