.elements {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-2);
}

.element .title {
  font-size: var(--font-large);
}

.element {
  width: 360px;
  margin: var(--size-2);
}

.element .preview {
  margin: var(--size-1) 0;
  background: black;
  padding-bottom: 50%;
  position: relative;
  border-radius: var(--size-1);
}

.element .preview > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.element .preview .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
