.element-details {
  padding: var(--size-2) var(--size-4);
}

.element-details > * {
  display: block;
  margin: var(--size-2) 0;
}

.element-details .title {
  font-size: var(--font-large);
  font-weight: 500;
}

.element-details .preview {
  width: 640px;
  height: 320px;
}
