.elements {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-2);
}

.element {
  width: 360px;
  margin: var(--size-2);
}

.element .title {
  font-size: var(--font-large);
}

.element .preview {
  padding-bottom: 50%;
}
