header {
  display: flex;
  align-items: center;
  padding: 0 var(--size-4);
}

header .title .logo {
  width: var(--size-6);
  height: var(--size-6);
  vertical-align: bottom;
}

header .title:hover .logo {
  animation: drop-logo 3s ease 2s 1;
  transform-origin: bottom left;
}

header .title .text {
  font-size: var(--font-huge);
  font-weight: 500;
  margin: var(--size-2);
  transition: text-shadow 0.3s;
  text-shadow: 0 0 1px var(--grey-1), 0 0 2px var(--grey-1),
    0 0 0 rgb(208, 54, 169), 0 0 0 rgb(84, 254, 150);
}

header .title:hover .text {
  text-shadow: 0 0 1px var(--grey-1), 0 0 2px var(--grey-1),
    2px 1px 1px rgb(208, 54, 169), -2px -1px 1px rgb(84, 254, 150);
}

header .expand {
  flex-grow: 1;
}

header .icon-button {
  margin: var(--size-2) 0;
}

@keyframes drop-logo {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  10% {
    transform: rotate(90deg);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translateX(500px);
  }
  80% {
    transform: rotate(0) translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
