.mainlayout {
  padding: var(--size-4);

  h2 {
    font-size: var(--font-large);
    font-weight: 500;
  }

  .textbox,
  .selectbox,
  .progressbar {
    width: 100%;
    min-width: 180px;
    max-width: 360px;
  }
}
