.preview {
  margin: var(--size-1) 0;
  background: black;
  position: relative;
  border-radius: var(--size-1);
  overflow: hidden;
}

.preview > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preview .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview .progress {
  background: var(--grey-2);
  top: auto;
}

.preview .progress .bar {
  background: var(--grey-4);
  height: var(--size-1);
  transition: width 0.1s linear;
}
