.preview {
  margin: var(--size-1) 0;
  background: black;
  position: relative;
  border-radius: var(--size-1);
}

.preview > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preview .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
