*,
*::before,
*::after,
*::placeholder {
  margin: 0;
  padding: 0;
  outline: 0;
  opacity: 1;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  list-style: none;
  line-height: 150%;
  text-decoration: none;
  text-align: inherit;
  border-collapse: collapse;
}

*::-moz-focus-outer,
*::-moz-focus-inner {
  border: 0;
}
