.sidebar {
  padding: var(--size-2) 0;
}

.sidebar .heading {
  padding: var(--size-2) var(--size-4);
  font-size: var(--font-large);
  font-weight: 500;
}

.sidebar a {
  display: block;
  padding: var(--size-1) var(--size-6);
  font-weight: 500;
  cursor: pointer;
  color: var(--grey-9);
}

.sidebar a.active {
  background: var(--grey-4);
}

.sidebar a:hover,
.sidebar a:focus {
  background: var(--grey-4);
}
