table th {
  font-weight: 500;
  border-bottom: 2px solid var(--grey-7);
  padding: var(--size-1) var(--size-2);
}

table td {
  border-bottom: 2px solid var(--grey-5);
  padding: var(--size-1) var(--size-2);
}
