table th {
  font-weight: 500;
  border-bottom: 2px solid var(--grey-7);
  padding: var(--size-1) var(--size-1);
}

table td {
  border-bottom: 2px solid var(--grey-5);
  padding: var(--size-1) var(--size-1);
}

table th:first-child,
table td:first-child {
  padding-left: var(--size-2);
}

table th:last-child,
table td:last-child {
  padding-right: var(--size-2);
}
